<h1>Organizations</h1>

<div id="organizations">
  <% if organizations.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Active</th>
        </tr>
      </thead>
    <% organizations.each do |org| %>
      <tr>
        <td><%= org.nickname %></td>
        <td><%= org.active %></td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <div class="alert alert-warning">
      No organizations found
    </div>
  <% end %>
</div>

<%= link_to("Sync with GitHub", routes.sync_organizations_path, class: "btn btn-info") %>
