<h1>Organizations</h1>

<div id="organizations">
  <% if organizations.any? %>
    <% organizations.each do |org| %>
      <p><%= org.nickname %> <%= org.active %></p>
    <% end %>
  <% else %>
    No organizations found
  <% end %>
</div>

<%= link_to("Sync with GitHub", routes.sync_organizations_path) %>
